@model ReflectionIT.Mvc.Paging.IPagingList
@{
    var start = this.Model.StartPageIndex;
    var stop = this.Model.StopPageIndex;
}

@if (this.Model.PageCount > 1)
{
    <ul class="pagination justify-content-center">
        @if (start > 1)
        {
            <li class="page-item">
                <a href="@Url.Action(Model.Action, new { oblastId = ViewData["OblastId"], page = Model.GetRouteValueForPage(1)})" 
                   aria-label="First" class="page-link">
                    <span aria-hidden="true">1</span>
                </a>
            </li>
        }
        @if (this.Model.PageIndex > 1)
        {
            <li class="page-item">
                <a href="@Url.Action(Model.Action, new { oblastId = ViewData["OblastId"], page = Model.PageIndex - 1})" 
                   aria-label="Previous" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = start; i <= stop; i++)
        {
            <li class="page-item @((Model.PageIndex == i) ? "active" : null)">
                <a asp-controller="Monuments" asp-action="@Model.Action" asp-route-oblastId="@ViewData["OblastId"]" 
                   asp-route-page="@i" class="page-link">@i.ToString()</a>
            </li>
        }
        @if (this.Model.PageIndex < this.Model.PageCount)
        {
            <li class="page-item">
                <a href="@Url.Action(Model.Action, new { oblastId = ViewData["OblastId"], page = Model.PageIndex + 1 })" 
                   aria-label="Next" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        @if (stop < this.Model.PageCount)
        {
            <li class="page-item">
                <a href="@Url.Action(Model.Action, new { oblastId = ViewData["OblastId"], page = Model.GetRouteValueForPage(Model.PageCount)})" 
                   aria-label="Last" class="page-link">
                    <span aria-hidden="true">@Model.PageCount</span>
                </a>
            </li>
        }
    </ul>
}
