@model ReflectionIT.Mvc.Paging.PagingList<MB.ViewModels.Hotels.HotelAllViewModel>
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "All Hotels";
    Model.Action = "All";
    ViewData["Controller"] = "Hotels";
}

<h1 class="text-center text-dark">@ViewData["Title"]</h1>

<div class="container-fluid mx-auto mt-5 mb-5 text-center text-dark monuments">
    @{ int counter = 0; }
    @for (int i = 0; i < Math.Ceiling(Model.Count / 4.0); i++)
    {
        <div class="row d-flex justify-content-around mb-5 mt-5">
            @for (int j = 0; j < 4; j++)
            {
                @if (counter <= Model.Count - 1)
                {
                    var hotel = Model[counter++];
                    <section class="col-2 border border-dark rounded-top p-0">
                        <h4 class="pt-2">@hotel.Name</h4>
                        <hr class="bg-dark mt-0" />
                        <img src="@hotel.ImageUrl" alt="" class="w-100 rounded-circle pr-3 pl-3" />
                        <p class="pt-3">
                            Oblast: <a asp-controller="Hotels" asp-action="AllForOblast"
                                       asp-route-oblastId="@hotel.OblastId">@hotel.OblastName</a>
                                </p>
                                <a asp-controller="Hotels" asp-action="Details" asp-route-hotelId="@hotel.Id"
                                   class="btn btn btn-outline-dark btn-sm mb-3">View Details</a>
                                @if (User.IsInRole(MB.Common.GlobalConstants.AdminRoleName))
                                {
                                    <div class="d-flex justify-content-around mb-3 mt-1">
                                        <a asp-controller="Hotels" asp-action="Edit" asp-route-hotelId="@hotel.Id" 
                                            class="btn btn-outline-dark">Edit</a>
                                        <form asp-controller="Hotels" asp-action="Delete" method="post">
                                            <input type="hidden" name="hotelId" value="@hotel.Id" />
                                            <button type="submit" class="btn btn-outline-danger" 
                                                onclick="throwAlert(event, 'hotel')">Delete</button>  
                                        </form>
                                    </div>
                                }
                            </section>
                        }
                        else
                        {
                            <section class="col-2"></section>
                        }
            }
        </div>
    }
</div>

<nav class="pager">
    <vc:pager paging-list="@Model" />
</nav>

@section Scripts {
    <script src="~/js/alert.js"></script>
}
