@model MB.ViewModels.Monuments.MonumentDetailsViewModel
@{ 
    ViewData["Title"] = Model.Name;
}

<h1 class="text-center text-dark">@ViewData["Title"]</h1>

<section class="d-flex justify-content-around text-dark mt-5">
    <section class="col-lg-5 bg-light p-4">
        <h3 class="text-center">Description</h3>
        <p>@Model.Description</p>
    </section>
    <section class="col-lg-5 mt-5">
        <div class="mt-1">
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
        </div>
        <div class="mt-1">
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
        </div>
        <div class="mt-1">
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
            <img src="~/img/bg-masthead.jpg" style="width: 24%;" />
        </div>
    </section>
</section>

<section class="mx-auto text-dark mt-5 mb-5 bg-light p-4">
    <h3 class="text-center">Reviews (@Model.ReviewsCount)</h3>

    <section class="w-50 mx-auto mt-5">
        <h5 class="text-center">Overall Rating: @Model.OverallRating</h5>
        <div class="row">
            @{ var excellentPercent = Model.Reviews.RatingExcellent / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
            <label class="col-2">Excellent (5)</label>
            <div class="progress mt-1 col-8 p-0">
                <div class="progress-bar bg-dark" role="progressbar" style="width: @excellentPercent%"></div>
            </div>
            <label class="col-2 text-right">@excellentPercent.ToString("f2")% (@Model.Reviews.RatingExcellent)</label>
        </div>
        <div class="row">
            @{ var veryGoodPercent = Model.Reviews.RatingVeryGood / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
            <label class="col-2">Very Good (4)</label>
            <div class="progress mt-1 col-8 p-0">
                <div class="progress-bar bg-dark" role="progressbar" style="width: @veryGoodPercent%"></div>
            </div>
            <label class="col-2 text-right">@veryGoodPercent.ToString("f2")% (@Model.Reviews.RatingVeryGood)</label>
        </div>
        <div class="row">
            @{ var averagePercent = Model.Reviews.RatingAverage / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
            <label class="col-2">Average (3)</label>
            <div class="progress mt-1 col-8 p-0">
                <div class="progress-bar bg-dark" role="progressbar" style="width: @averagePercent%"></div>
            </div>
            <label class="col-2 text-right">@averagePercent.ToString("f2")% (@Model.Reviews.RatingAverage)</label>
        </div>
        <div class="row">
            @{ var poorPercent = Model.Reviews.RatingPoor / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
            <label class="col-2">Poor (2)</label>
            <div class="progress mt-1 col-8 p-0">
                <div class="progress-bar bg-dark" role="progressbar" style="width: @poorPercent%"></div>
            </div>
            <label class="col-2 text-right">@poorPercent.ToString("f2")% (@Model.Reviews.RatingPoor)</label>
        </div>
        <div class="row">
            @{ var terriblePercent = Model.Reviews.RatingTerrible / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
            <label class="col-2">Terrible (1)</label>
            <div class="progress mt-1 col-8 p-0">
                <div class="progress-bar bg-dark" role="progressbar" style="width: @terriblePercent%"></div>
            </div>
            <label class="col-2 text-right">@terriblePercent.ToString("f2")% (@Model.Reviews.RatingTerrible)</label>
        </div>
    </section>
    <div class="d-flex justify-content-around mt-5">
        <section class="col-lg-5">
            <h5 class="text-center">Time of Year</h5>
            <div class="row">
                @{ var springPercent = Model.Reviews.TimeOfYearSpring / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Spring</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @springPercent%"></div>
                </div>
                <label class="col-3 text-right">@springPercent.ToString("f2")% (@Model.Reviews.TimeOfYearSpring)</label>
            </div>
            <div class="row">
                @{ var summerPercent = Model.Reviews.TimeOfYearSummer / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Summer</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @summerPercent%"></div>
                </div>
                <label class="col-3 text-right">@summerPercent.ToString("f2")% (@Model.Reviews.TimeOfYearSummer)</label>
            </div>
            <div class="row">
                @{ var autumnPercent = Model.Reviews.TimeOfYearAutumn / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Autumn</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @autumnPercent%"></div>
                </div>
                <label class="col-3 text-right">@autumnPercent.ToString("f2")% (@Model.Reviews.TimeOfYearAutumn)</label>
            </div>
            <div class="row">
                @{ var winterPercent = Model.Reviews.TimeOfYearWinter / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Winter</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @winterPercent%"></div>
                </div>
                <label class="col-3 text-right">@winterPercent.ToString("f2")% (@Model.Reviews.TimeOfYearWinter)</label>
            </div>
        </section>
        <section class="col-lg-5">
            <h5 class="text-center">Traveller Type</h5>
            <div class="row">
                @{ var familiesPercent = Model.Reviews.TravellerTypeFamilies / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Families</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @familiesPercent%"></div>
                </div>
                <label class="col-3 text-right">@familiesPercent.ToString("f2")% (@Model.Reviews.TravellerTypeFamilies)</label>
            </div>
            <div class="row">
                @{ var couplesPercent = Model.Reviews.TravellerTypeCouples / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Couples</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @couplesPercent%"></div>
                </div>
                <label class="col-3 text-right">@couplesPercent.ToString("f2")% (@Model.Reviews.TravellerTypeCouples)</label>
            </div>
            <div class="row">
                @{ var soloPercent = Model.Reviews.TravellerTypeSolo / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Solo</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @soloPercent%"></div>
                </div>
                <label class="col-3 text-right">@soloPercent.ToString("f2")% (@Model.Reviews.TravellerTypeSolo)</label>
            </div>
            <div class="row">
                @{ var businessPercent = Model.Reviews.TravellerTypeBusiness / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Business</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @businessPercent%"></div>
                </div>
                <label class="col-3 text-right">@businessPercent.ToString("f2")% (@Model.Reviews.TravellerTypeBusiness)</label>
            </div>
            <div class="row">
                @{ var friendsPercent = Model.Reviews.TravellerTypeFriends / (double)(Model.ReviewsCount == 0 ? 1 : Model.ReviewsCount) * 100; }
                <label class="col-2">Friends</label>
                <div class="progress mt-1 col-7 p-0">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: @friendsPercent%"></div>
                </div>
                <label class="col-3 text-right">@friendsPercent.ToString("f2")% (@Model.Reviews.TravellerTypeFriends)</label>
            </div>
        </section>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="mt-4 d-flex justify-content-center">
            <a asp-controller="MonumentReviews" asp-action="Write" asp-route-monumentId="@Model.Id" id="writeReview" class="btn btn-outline-dark">Write Review</a>
        </div>
    }
</section>

<section class="m-5 w-75 mx-auto bg-light p-4 text-dark">
    <h3 class="text-center">Comments (@Model.Comments.Count())</h3>

    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="MonumentComments" asp-action="Write" method="post" class="form-inline mt-5 d-flex justify-content-around">
            <input type="hidden" name="monumentId" value="@Model.Id" />
            <textarea type="text" name="content" class="form-control col-9" rows="3"></textarea>
            <button type="submit" class="btn btn-dark col-2">Write Comment</button>
        </form>
    }

    @foreach (var comment in Model.Comments)
    {
        <hr class="bg-dark mt-5" />
        <div>
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content-between p-0">
                    <img src="~/images/user.png" alt="user-photo" class="mr-3 rounded userPhoto" />
                    <div class="mt-3">@comment.UserUsername</div>
                </div>
                <div class="mr-3">@comment.CreatedOn</div>
            </div>
            <p>@comment.Content</p>
            <div class="d-flex justify-content-between">
                <div class="mt-1">
                    <label>@comment.LikesCount</label>
                    <i class="far fa-thumbs-up mr-3"></i>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="mr-3">
                        <a asp-controller="MonumentComments" asp-action="Like" asp-route-monumentId="@Model.Id" asp-route-commentId="@comment.Id" class="btn btn-success">Like</a>
                    </div>
                }
            </div>
        </div>
    }
</section>