@inject SignInManager<MbUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index" class="btn btn-outline-dark w-100">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) mt-2"><a id="change-password" asp-page="./ChangePassword" class="btn btn-outline-dark w-100">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) mt-2"><a id="external-login" asp-page="./ExternalLogins" class="btn btn-outline-dark w-100">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) mt-2"><a asp-page="./TwoFactorAuthentication" class="btn btn-outline-dark w-100">Two-factor authentication</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) mt-2"><a asp-page="./PersonalData" class="btn btn-outline-dark w-100">Personal data</a></li>
</ul>
