@model MB.ViewModels.Trips.TripDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}

<h1 class="text-center text-dark">@ViewData["Title"]</h1>

<section class="d-flex justify-content-around text-dark mt-5">
    <section class="col-lg-5 bg-light p-4">
        <h3 class="text-center">Description</h3>
        <p>@Model.Description</p>
    </section>
    <section class="col-lg-5 mt-5">
        <div class="mt-1">
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
        </div>
        <div class="mt-1">
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
        </div>
        <div class="mt-1">
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
            <img src="~/img/trip.jpg" style="width: 24%;" />
        </div>
    </section>
</section>

<section class="container-fluid mx-auto mt-5 mb-5 text-center text-dark monuments">
    <div class="row d-flex justify-content-around mb-5 mt-5">
        <section class="col-2 border border-dark rounded-top p-0">
            <h3 class="text-center">Monument:</h3>
            <h4 class="pt-2">@Model.MonumentName</h4>
            <hr class="bg-dark mt-0" />
            <img src="~/img/bg-masthead.jpg" alt="" class="w-100 rounded-circle pr-3 pl-3" />
            <p class="pt-3">
                Oblast: <a asp-controller="Monuments" asp-action="AllForOblast"
                           asp-route-oblastId="@Model.MonumentOblastId">@Model.MonumentOblastName</a>
            </p>
            <a asp-controller="Monuments" asp-action="Details" asp-route-monumentId="@Model.MonumentId"
               class="btn btn btn-outline-dark btn-sm mb-3">View Details</a>
        </section>
        <section class="col-2 border border-dark rounded-top p-0">
            <h3 class="text-center">Hotel:</h3>
            <h4 class="pt-2">@Model.HotelName</h4>
            <hr class="bg-dark mt-0" />
            <img src="~/img/hotel.jpg" alt="" class="w-100 rounded-circle pr-3 pl-3" />
            <p class="pt-3">
                Oblast: <a asp-controller="Hotels" asp-action="AllForOblast"
                           asp-route-oblastId="@Model.HotelOblastId">@Model.HotelOblastName</a>
            </p>
            <a asp-controller="Hotels" asp-action="Details" asp-route-hotelId="@Model.HotelId"
               class="btn btn btn-outline-dark btn-sm mb-3">View Details</a>
        </section>
    </div>
</section>
